APP_NAME=Rentame
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_TIMEZONE=America/Mexico_City
APP_URL=https://api.rentame.app

APP_LOCALE=es
APP_FALLBACK_LOCALE=es
APP_FAKER_LOCALE=es_MX

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=error

DB_CONNECTION=sqlite
DB_DATABASE=/var/www/rentame-api/database/database.sqlite
DB_FOREIGN_KEYS=true

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=public
QUEUE_CONNECTION=database

CACHE_STORE=database

SANCTUM_STATEFUL_DOMAINS=admin.rentame.app,app.rentame.app,localhost:4200,localhost:8100

CORS_ALLOWED_ORIGINS=https://admin.rentame.app,https://app.rentame.app,http://localhost:4200,http://localhost:8100
